
body {
    margin: 0;
}

h1{
    font-weight: bold;
    font-size: 20px;
}


#left_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
    width: 50%;
    background-color: lightgrey;
    min-height: 100vh;
    font-family: "Segoe UI", serif;
    font-size: 30px;
}

#right_div {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 50%;
    background-color: whitesmoke;
    min-height: 100vh;
    font-family: "Segoe UI", serif;
    font-size: 40px;
    color: gray;
}

#login_text {
    margin:0 0 30px 0;
}

#box_login {
    background-color: white;
    width: 250px;
    height: fit-content;
    border-radius: 6px;
    border-color: darkslategrey;
    padding-top: 15px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 20px;

    box-shadow:
            0 1px 1px rgba(0, 0, 0, 0.11),
            0 4px 4px rgba(0, 0, 0, 0.11),
            0 8px 16px rgba(0, 0, 0, 0.11);
}

#text_div {
    display: flex;
    align-items: center;
}

#logo {
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
}

#username_textfield {
    font-size: 20px;
    padding: 5px;
    width: 190px;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 5px;
}

#password_textfield {
    font-size: 20px;
    padding: 5px;
    width: 190px;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 5px;
}

#button_login {
    background-color: gray;
    border-radius: 4px;
    font-size: 15px;
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
    color: white;
    outline: none;
    border: none;
}

#button_register {
    background-color: darkslategrey;
    border-radius: 4px;
    font-size: 15px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    color: white;
    outline: none;
    border: none;
}

footer {
    position: absolute;
    font-size: 15px;
    bottom: 0;
    height: 50px;
    text-align: center;
}

/* Tooltips orientiert an: https://www.w3schools.com/css/css_tooltip.asp */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 2;
    bottom: 15%;
    left: 135%;
    margin-left: -60px;
    opacity: 1;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 45%;
    left: -3%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.tooltip .tooltiptext .show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/*Snackbar orientiert an: https://www.w3schools.com/howto/howto_js_snackbar.asp */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-family: "Segoe UI", serif;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}