/*Modal und overlay design orientiert an Web Dev Simplified: https://www.youtube.com/watch?v=MBaw_6cPmAw */
.modal{
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    width: 800px;
    max-width: 70%;
    max-height: 80%;
    border-radius: 6px;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in;
    background-color: white;
}

.modal.visible{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #888;
}

.modal-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

#overlay{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: 200ms ease-in;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}

#overlay.visible{
    opacity: 1;
    pointer-events: all;
}
/*------------------------------------------*/

.modal-body {
    padding: 5px 15px 5px 15px;
    overflow-y: scroll;
    max-height: 666px;
}

.modal-body table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.modal-body td{
    padding: 10px 0 10px 0;
}

.modal-body td:first-child{
    padding: 10px;
}

.modal-body tr:nth-child(odd) {
    background-color: #f2f2f2;
}


.modal-body::-webkit-scrollbar {
    width: 10px;
}

.modal-body::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 5px;
    padding: 1px;
    margin-right: 1px;
}

.modal-body::-webkit-scrollbar-thumb:hover {
    background: #666;
}

/*Warning modal for reset*/
.warning-modal{
    text-align: center;
}

.warning-modal .title{
    font-weight: bold;
    width: 100%;
}

.warning-modal .modal-body{
    padding: 0;
    overflow-y: hidden;
}

#modal-cancelButton{
    float: left;
    width: 50%;
    border-radius: 0 0 0 8px;
    background-color: rgba(49, 130, 126, 0.70);
}
#modal-cancelButton:hover{
    background-color: rgba(49, 130, 126, 0.40);
}
#modal-resetButton{
    float: left;
    width: 50%;
    border-radius: 0 0 8px 0;
    background-color: rgba(244,67,54,1);
}

#modal-resetButton:hover{
    background-color: rgba(244,67,54,0.4);
}

/*Warning modal for requirments*/
#reqmodal #modal-body p{
    text-align: left;
    padding: 0 40px;
}

#modal-okButton{
    float: left;
    width: 50%;
    border-radius: 0 0 8px 0;
    background-color: rgba(244,67,54,1);
}

#modal-okButton:hover{
    background-color: rgba(244,67,54,0.4);
}

#modal-revertButton{
    float: left;
    width: 50%;
    border-radius: 0 0 0 8px;
    background-color: rgba(49, 130, 126, 0.70);
}

#modal-revertButton:hover{
    background-color: rgba(49, 130, 126, 0.40);
}

