body {
    margin: 0;
}

h1{
    font-weight: bold;
    font-size: 20px;
}

#left_div {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 50%;
    background-color: whitesmoke;
    min-height: 100vh;
    font-family: "Segoe UI", serif;
    font-size: 40px;
    color: gray;
}

#text_div {
    display: flex;
    align-items: center;
}

#register_text {
    margin:0 0 30px 0;
}

#box_register {
    background-color: white;
    width: 250px;
    height: fit-content;
    border-radius: 6px;
    border-color: darkslategrey;
    padding-top: 15px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 20px;

    box-shadow:
            0 1px 1px rgba(0, 0, 0, 0.11),
            0 4px 4px rgba(0, 0, 0, 0.11),
            0 8px 16px rgba(0, 0, 0, 0.11);
}

#right_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    width: 50%;
    background-color: lightgrey;
    min-height: 100vh;
    font-family: "Segoe UI", serif;
    font-size: 30px;
}

#logo {
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
}

#registername {
    font-size: 25px;
    width: 200px;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 5px;
}

#username_textfield {
    font-size: 20px;
    padding: 5px;
    width: 190px;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 5px;
}

#password1_textfield {
    font-size: 20px;
    padding: 5px 20px 5px 5px;
    width: 175px;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 5px;
}

#password2_textfield {
    font-size: 20px;
    padding: 5px 20px 5px 5px;
    width: 175px;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.inputWithIcon {
    position: relative;
}

.inputWithIcon img {
    height: 21px;
    position: absolute;
    right: 20px;
    top: 4px;
    padding: 9px 8px;
    transition: 0.3s;
}

#button_register {
    background-color: gray;
    border-radius: 4px;
    font-size: 15px;
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
    color: white;
    outline: none;
    border: none;
}

#button_login {
    background-color: darkslategrey;
    border-radius: 4px;
    font-size: 15px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    color: white;
    outline: none;
    border: none;
}

footer {
    position: absolute;
    font-size: 15px;
    bottom: 0;
    height: 50px;
    text-align: center;
}

/* Tooltips orientiert an: https://www.w3schools.com/css/css_tooltip.asp */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 2;
    bottom: 15%;
    left: 135%;
    margin-left: -60px;
    opacity: 1;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 45%;
    left: -3%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}