h1{
    font-weight: bold;
    font-size: 20px;
}

#left_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
    width: 50%;
    background-color: lightgrey;
    height: 650px;
    font-family: "Segoe UI";
    font-size: 30px;
}

#login_text {
    margin:0 0 30px 0;
}

#box_login {
    background-color: white;
    width: 250px;
    height: fit-content;
    border-radius: 6px;
    border-color: darkslategrey;
    padding-top: 15px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 20px;

    box-shadow:
            0 1px 1px rgba(0, 0, 0, 0.11),
            0 4px 4px rgba(0, 0, 0, 0.11),
            0 8px 16px rgba(0, 0, 0, 0.11);
}

#right_div {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 50%;
    background-color: whitesmoke;
    height: 650px;
    font-family: "Segoe UI";
    font-size: 40px;
    color: gray;
}

#text_div {
    display: flex;
    align-items: center;
}

#logo {
    height: 50px;
    padding-left: 8px;
    padding-right: 8px;
}

body {
    margin: 0;
}

#username_textfield {
    font-size: 20px;
    padding: 5px;
    width: 190px;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 5px;
}

#password_textfield {
    font-size: 20px;
    padding: 5px;
    width: 190px;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 5px;
}

#button_login {
    background-color: gray;
    border-radius: 4px;
    font-size: 15px;
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
    color: white;
    outline: none;
    border: none;
}

#button_register {
    background-color: darkslategrey;
    border-radius: 4px;
    font-size: 15px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    color: white;
    outline: none;
    border: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
}